{{ $page_lang := .page_lang }}
{{ $.Scratch.Set "note" "" }}
{{ $.Scratch.Set "title" .r.en_title }}
{{ $.Scratch.Set "author" .r.en_author }}
{{ $.Scratch.Set "booktitle" .r.en_booktitle }}
{{ if eq $page_lang "ja" }}
{{ if .r.ja_title }}{{ $.Scratch.Set "title" .r.ja_title }}{{ end }}
{{ if .r.ja_author }}{{ $.Scratch.Set "author" .r.ja_author }}{{ end }}
{{ if .r.ja_booktitle }}{{ $.Scratch.Set "booktitle" .r.ja_booktitle }}{{ end }}
{{ end }}

{{ if (and (eq $page_lang "en") (eq .r.lang "ja")) }}
{{ $.Scratch.Set "note" "in Japanese" }}
{{ end }}
{{ if eq $page_lang "en" }}
{{ if not .r.en_title }}{{ $.Scratch.Set "title" .r.ja_title }}{{ end }}
{{ if not .r.en_author }}{{ $.Scratch.Set "author" .r.ja_author }}{{ end }}
{{ if not .r.en_booktitle }}{{ $.Scratch.Set "booktitle" .r.ja_booktitle }}{{ end }}
{{ end }}


{{ $title := $.Scratch.Get "title" }}
{{ $author := $.Scratch.Get "author" }}
{{ $booktitle := $.Scratch.Get "booktitle" }}
{{ $author_list := split $author "," }}
{{ $num_author := len $author_list }}
<li class="publication">
    <span class="pubtitle">{{ $title }}</span>
    {{ if ($.Scratch.Get "note") }}<span class="note">{{ $.Scratch.Get "note" }}</span>{{end}}
    <br>
    {{ range $index, $author := $author_list }}
    <span class="author">{{ $author }}</span>
    {{- if eq $page_lang "en" }}
    {{- if eq $index (add $num_author -2) }} <span class="sepboth">and</span> 
    {{- else if lt $index (add $num_author -1) }}<span class="sep">,</span >{{- end }}
    {{- else if lt $index (add $num_author -1) }}<span class="sep">,</span> {{- end }}
    {{- end }}<br>
    <span class="citeinfo">
        {{ $booktitle }}
        {{- if .r.volume -}}
        <span class="sep">,</span> vol. {{ .r.volume -}}
        {{- end -}}
        {{- if .r.number -}}
        <span class="sep">,</span> no. {{ .r.number -}}
        {{- end -}}
        {{- if (and .r.page_begin .r.page_end) -}}
        <span class="sep">,</span> pp. {{ .r.page_begin }}&ndash;{{ .r.page_end }}
        {{- else if .r.page_begin -}}
        <span class="sep">,</span> {{ .r.page_begin }}
        {{- end -}}
        {{- if .r.year -}}
        <span class="year" style="margin-left:0.3em;">({{ .r.year }})</span>
        {{- end -}}
        {{- if or .r.doi .r.naid .r.jglobalid .r.url -}}
        <div class="field is-grouped is-grouped-multiline" style="margin-top:0.2em;">
            {{- if .r.doi -}}
            <div class="control" style="vertical-align:0.05em;">
                <a href="https://doi.org/{{ .r.doi }}">
                    <div class="tags has-addons">
                        <span class="tag is-primary" style="font-size: 60%; font-weight:700">DOI</span>
                        <span class="tag is-primary" style="font-size: 60%; font-weight:400">{{ .r.doi }}</span>
                    </div>
                </a>
            </div>
            {{- end -}}

            {{- if .r.naid -}}
            <div class="control" style="vertical-align:0.05em;">
                <a href="https://ci.nii.ac.jp/naid/{{ .r.naid }}/">
                    <div class="tags has-addons">
                        <span class="tag is-primary" style="font-size: 60%; font-weight:700">CiNii</span>
                        <span class="tag is-primary" style="font-size: 60%; font-weight:400">{{ .r.naid }}</span>
                    </div>
                </a>
            </div>
            {{- end -}}

            {{- if .r.jglobalid -}}
            <div class="control" style="vertical-align:0.05em;">
                <a href="http://jglobal.jst.go.jp/detail?JGLOBAL_ID={{ .r.jglobalid }}">
                    <div class="tags has-addons">
                        <span class="tag is-primary" style="font-size: 60%; font-weight:700">J-GLOBAL ID</span>
                        <span class="tag is-primary" style="font-size: 60%; font-weight:400">{{ .r.jglobalid }}</span>
                    </div>
                </a>
            </div>
            {{- end -}}

            {{- if .r.url -}}
            <div class="control" style="vertical-align:0.05em;">
                <a href="{{ .r.url }}">
                    <div class="tags has-addons">
                        <span class="tag is-primary" style="font-size: 60%; font-weight:700">URL</span>
                        <span class="tag is-primary" style="font-size: 60%; font-weight:400">{{ .r.url }}</span>
                    </div>
                </a>
            </div>
            {{- end -}}
        </div>
        {{end}}
    </span>
</li>
