{{- $page_lang := .page_lang }}
{{- $.Scratch.Set "note" "" }}
{{- $.Scratch.Set "title" .r.en_title }}
{{- $.Scratch.Set "author" .r.en_author }}
{{- $.Scratch.Set "booktitle" .r.en_booktitle }}
{{- $.Scratch.Set "giver" .r.en_giver }}
{{- if eq $page_lang "ja" }}
{{- if .r.ja_title }}{{ $.Scratch.Set "title" .r.ja_title }}{{ end }}
{{- if .r.ja_author }}{{ $.Scratch.Set "author" .r.ja_author }}{{ end }}
{{- if .r.ja_booktitle }}{{ $.Scratch.Set "booktitle" .r.ja_booktitle }}{{ end }}
{{- if .r.ja_publisher }}{{ $.Scratch.Set "publisher" .r.ja_publisher }}{{ end }}
{{- if .r.ja_giver }}{{ $.Scratch.Set "giver" .r.ja_giver }}{{ end }}
{{- end }}

{{- if (and (eq $page_lang "en") (eq .r.lang "ja")) }}
{{- $.Scratch.Set "note" "in Japanese" }}
{{- end }}
{{- if eq $page_lang "en" }}
{{- if not .r.en_title }}{{ $.Scratch.Set "title" .r.ja_title }}{{ end }}
{{- if not .r.en_author }}{{ $.Scratch.Set "author" .r.ja_author }}{{ end }}
{{- if not .r.en_booktitle }}{{ $.Scratch.Set "booktitle" .r.ja_booktitle }}{{ end }}
{{- if .r.en_publisher }}{{ $.Scratch.Set "publisher" .r.en_publisher }}{{ end }}
{{- if not .r.en_giver }}{{ $.Scratch.Set "giver" .r.ja_giver }}{{ end }}
{{- end }}


{{- $title := $.Scratch.Get "title" }}
{{- $author := $.Scratch.Get "author" }}
{{- $booktitle := $.Scratch.Get "booktitle" }}
{{- $publisher := $.Scratch.Get "publisher" }}
{{- $giver := $.Scratch.Get "giver" }}
{{- $author_list := split $author "," }}
{{- $eauthor_list := split .r.en_author "," }}
{{- $num_author := len $author_list }}



{{- $class_authors := (split .r.en_author ",") }}
{{- $class_authors := (apply (apply $class_authors "lower" ".") "trim" "." " ")}}
{{- $class_authors := (cond (eq .r.outside_kuaero true) $class_authors (union $class_authors (slice "lab")) ) }}

{{- if eq .r.type "award" -}}
<li class="publication year-{{.r.year}} type-{{.r.type|urlize}}" data-year="{{.r.year}}" data-type='{{.r.type}}'
    data-author='{{$class_authors| jsonify}}' data-pubdate='{{.r.publication_date}}'>
    <h2 class="year-{{.r.year}}">{{ .r.year }}</h2>
    <h3 class="type-{{.r.type|urlize}}">{{ i18n (printf "%s_%s" "publication_type" .r.type)}}</h3>
    <div class="item">
        <div class="counter"></div>
        {{- range $index, $author := $author_list }}
        <span class="award-author">{{ $author }}</span>
        {{- if eq $page_lang "en" }}
        {{- if eq $index (add $num_author -2) }} <span class="sepboth">and</span>
        {{- else if lt $index (add $num_author -1) }}<span class="sep">,</span>{{- end }}
        {{- else if lt $index (add $num_author -1) }}<span class="sep">,</span> {{- end }}
        {{- end }}
        <span class="award-title">{{ $title }}</span>
        {{ if ($.Scratch.Get "note") }}<span class="note">{{ $.Scratch.Get "note" }}</span>{{end -}}
        <br>
        <span class="citeinfo">
            {{ $giver }}
            {{ $booktitle }}
            {{- if .r.volume -}}
            <span class="sep">,</span> vol. {{ .r.volume -}}
            {{- end -}}
            {{- if .r.number -}}
            <span class="sep">,</span> no. {{ .r.number -}}
            {{- end -}}
            {{- if (and .r.page_begin .r.page_end) -}}
            <span class="sep">,</span> pp. {{ .r.page_begin }}&ndash;{{ .r.page_end }}
            {{- else if .r.page_begin -}}
            <span class="sep">,</span> {{ .r.page_begin }}
            {{- end -}}
            {{- if .r.publication_date }}
            <span class="year" style="margin-left:0.3em;">({{- partial "format-date.html" (dict "date" .r.publication_date "lang" $page_lang) }})</span>
            {{- end }}
            {{- if .r.isbn }}
                <div class="sep">ISBN : {{ .r.isbn }}</div>
            {{- end }}
            {{- if or .r.doi .r.naid .r.jglobalid .r.url }}
            <div class="field is-grouped is-grouped-multiline" style="margin-top:0.2em;">
                {{- if .r.doi -}}
                <div class="control" style="vertical-align:0.05em;">
                    <a href="https://doi.org/{{ .r.doi }}">
                        <div class="tags has-addons">
                            <span class="tag is-primary" style="font-size: 60%; font-weight:700">DOI</span>
                            <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                    class="limitter">{{ .r.doi }}</span></span>
                        </div>
                    </a>
                </div>
                {{- end -}}

                {{- if .r.naid }}
                <div class="control" style="vertical-align:0.05em;">
                    <a href="https://ci.nii.ac.jp/naid/{{ .r.naid }}/">
                        <div class="tags has-addons">
                            <span class="tag is-primary" style="font-size: 60%; font-weight:700">CiNii</span>
                            <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                    class="limitter">{{ .r.naid }}</span></span>
                        </div>
                    </a>
                </div>
                {{- end -}}

                {{- if .r.jglobalid }}
                <div class="control" style="vertical-align:0.05em;">
                    <a href="http://jglobal.jst.go.jp/detail?JGLOBAL_ID={{ .r.jglobalid }}">
                        <div class="tags has-addons">
                            <span class="tag is-primary" style="font-size: 60%; font-weight:700">J-GLOBAL ID</span>
                            <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                    class="limitter">{{ .r.jglobalid }}</span></span>
                        </div>
                    </a>
                </div>
                {{- end -}}

                {{- if .r.url }}
                <div class="control" style="vertical-align:0.05em;">
                    <a href="{{ .r.url }}">
                        <div class="tags has-addons">
                            <span class="tag is-primary" style="font-size: 60%; font-weight:700">URL</span>
                            <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                    class="limitter">{{ .r.url }}</span></span>
                        </div>
                    </a>
                </div>
                {{- end }}
            </div>
            {{- end }}
        </span>
    </div>
</li>
{{- else -}}
<li class="publication year-{{.r.year}} type-{{.r.type|urlize}}" data-year="{{.r.year}}" data-type='{{.r.type}}'
    data-author='{{$class_authors| jsonify}}' data-pubdate='{{.r.publication_date}}'>
    <h2 class="year-{{.r.year}}">{{ .r.year }}</h2>
        <h3 class="type-{{.r.type|urlize}}">{{ i18n (printf "%s_%s" "publication_type" .r.type)}}</h3>
        <div class="item">
            <div class="counter"></div>
            <span class="pubtitle">{{ $title }}</span>
            {{ if ($.Scratch.Get "note") }}<span class="note">{{ $.Scratch.Get "note" }}</span>{{end -}}
            <br>
            {{- range $index, $author := $author_list }}
            <span class="author">{{ $author }}</span>
            {{- if eq $page_lang "en" }}
            {{- if eq $index (add $num_author -2) }} <span class="sepboth">and</span>
            {{- else if lt $index (add $num_author -1) }}<span class="sep">,</span>{{- end }}
            {{- else if lt $index (add $num_author -1) }}<span class="sep">,</span> {{- end }}
            {{- end }}<br>
            <span class="citeinfo">
                {{ $booktitle }}
                {{- if .r.volume -}}
                <span class="sep">,</span> vol. {{ .r.volume -}}
                {{- end -}}
                {{- if .r.number -}}
                <span class="sep">,</span> no. {{ .r.number -}}
                {{- end -}}
                {{- if (and .r.page_begin .r.page_end) -}}
                <span class="sep">,</span> pp. {{ .r.page_begin }}&ndash;{{ .r.page_end }}
                {{- else if .r.page_begin -}}
                <span class="sep">,</span> {{ .r.page_begin }}
                {{- end -}}
                {{- if or .r.en_publisher .r.ja_publisher -}}
                <span class="sep">,</span> {{ $publisher -}}
                {{- end -}}
                {{- if .r.publication_date }}
                <span class="year" style="margin-left:0.3em;">({{- partial "format-date.html" (dict "date" .r.publication_date "lang" $page_lang) }})</span>
                {{- end }}
                {{- if .r.isbn }}
                <div class="sep">ISBN : {{ .r.isbn }}</div>
                {{- end }}
                {{- if or .r.doi .r.naid .r.jglobalid .r.url }}
                <div class="field is-grouped is-grouped-multiline" style="margin-top:0.2em;">
                    {{- if .r.doi -}}
                    <div class="control" style="vertical-align:0.05em;">
                        <a href="https://doi.org/{{ .r.doi }}">
                            <div class="tags has-addons">
                                <span class="tag is-primary" style="font-size: 60%; font-weight:700">DOI</span>
                                <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                        class="limitter">{{ .r.doi }}</span></span>
                            </div>
                        </a>
                    </div>
                    {{- end -}}

                    {{- if .r.naid }}
                    <div class="control" style="vertical-align:0.05em;">
                        <a href="https://ci.nii.ac.jp/naid/{{ .r.naid }}/">
                            <div class="tags has-addons">
                                <span class="tag is-primary" style="font-size: 60%; font-weight:700">CiNii</span>
                                <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                        class="limitter">{{ .r.naid }}</span></span>
                            </div>
                        </a>
                    </div>
                    {{- end -}}

                    {{- if .r.jglobalid }}
                    <div class="control" style="vertical-align:0.05em;">
                        <a href="http://jglobal.jst.go.jp/detail?JGLOBAL_ID={{ .r.jglobalid }}">
                            <div class="tags has-addons">
                                <span class="tag is-primary" style="font-size: 60%; font-weight:700">J-GLOBAL ID</span>
                                <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                        class="limitter">{{ .r.jglobalid }}</span></span>
                            </div>
                        </a>
                    </div>
                    {{- end -}}

                    {{- if .r.url }}
                    <div class="control" style="vertical-align:0.05em;">
                        <a href="{{ .r.url }}">
                            <div class="tags has-addons">
                                <span class="tag is-primary" style="font-size: 60%; font-weight:700">URL</span>
                                <span class="tag is-primary" style="font-size: 60%; font-weight:400"><span
                                        class="limitter">{{ .r.url }}</span></span>
                            </div>
                        </a>
                    </div>
                    {{- end }}
                </div>
                {{- end }}
            </span>
        </div>
</li>
{{- end -}}