{{ define "main" }}
{{- partial "nav.html" . -}}
<section class="section" id="main">
    <div class="container">
        <div class="homepage-content content">
            <h1>メンバー</h1>
            <div class="columns is-centered" style="padding-bottom:2em;">
                <div class="column is-12">
                    {{ with .Resources.GetMatch "members.jpg" }}
                    {{ $image := .Fill "1600x800 q90" }}
                    <img src="{{ $image.RelPermalink }}" width="100%" alt="">
                    {{ end }}
                </div>
            </div>
            <div style="columns:22em;padding-bottom:4em">
                {{ range $.Site.Data.members.list }}
                {{ $ja_names := split .ja_name " " }}
                {{ $en_names := split .en_name " " }}
                <div style="margin-bottom:1.5em; font-size:1.2rem; width:22em;break-inside:avoid;">
                    <div style="display:flex;">
                        <div style="font-size:0.7em;width:8.5em;text-align:right;padding-right:1.5em;">
                            <div class="position" style="padding-top:0.2em">
                                {{ .ja_position | markdownify }}
                            </div>
                        </div>
                        <div style="display:flex;flex-wrap: wrap;">
                            <div style="margin-right:1em;">
                                <div class="namemain" style="width:8rem;text-align-last:justify;">
                                    <span style="white-space:nowrap;">{{ index .ja_name }}</span>
                                </div>
                                <div class="namesub" style="font-size:60%;min-width:8rem;text-align-last:justify;">
                                    {{ if (eq (len $en_names) 2) }}
                                    {{ index $en_names 1 }}, {{ index $en_names 0 }}
                                    {{ else }}
                                    {{ index $en_names 2 }}, {{ index $en_names 0 }} {{ index $en_names 1 }}                                    
                                    {{ end }}                                    
                                </div>
                            </div>
                            {{ if .ja_link_url }}
                            <div>
                                <a href="{{ .ja_link_url }}">
                                    <span class="is-primary">{{ .ja_link_text | safeHTML }}</span>
                                </a>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <hr>
            <h2>卒業生</h2>
            <div style="columns:20em;padding-bottom:4em">
                {{ range $.Site.Data.alumni.list }}
                {{ $ja_names := split .ja_name " " }}
                {{ $en_names := split .en_name " " }}
                <div style="margin-bottom:1.5em; font-size:1.2rem; width:20em;break-inside:avoid;">
                    <div style="display:flex">
                        <div style="font-size:0.8em;width:8em;text-align:right;padding-right:1.5em;">
                            <div class="position" style="padding-top:0.2em">
                                {{ .ja_position | markdownify }}
                            </div>
                        </div>
                        <div style="margin-right:1em;">
                            <div class="namemain" style="width:8rem;text-align-last:justify;">
                                <span style="white-space:nowrap;">{{ index .ja_name }}</span>
                            </div>
                            <div class="namesub"
                                style="font-size:60%;min-width:8rem;text-align-last:justify; white-space: nowrap;">
                                {{ if (eq (len $en_names) 2) }}
                                {{ index $en_names 1 }}, {{ index $en_names 0 }}
                                {{ else }}
                                {{ index $en_names 2 }}, {{ index $en_names 0 }} {{ index $en_names 1 }}                                    
                                {{ end }}             
                            </div>
                        </div>
                        {{ if .ja_link_url }}
                        <div>
                            <a href="{{ .ja_link_url }}">
                                {{ .ja_link_text | safeHTML }}
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="columns is-multiline">
                {{ range sort (.Resources.Match "members_*.jpg") "Name" "desc" }}
                {{ $image := .Fit "1200x900 q90" }}
                <div class="column is-6">
                    <figure class="image ">
                        <img src="{{ $image.RelPermalink }}" width="100%" alt="">
                    </figure>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
