{{ define "main" }}
{{- partial "nav.html" . -}}
<section class="section" id="main">
    <div class="container">
        <div class="homepage-content content">
            <h1>{{ .Title }}</h1>

            <div style="padding-bottom:2em;">
                    {{ range $content_num, $item := $.Site.Data.research.general }}
                    <div class="columns is-multiline">
                        {{ if ($.Page.Resources.GetMatch (index $item.fig_name 0 )) }}
                            {{ if (modBool $content_num 2) }}
                            <div class="column is-8" style="order: 1;">
                            {{ else }}
                            <div class="column is-8" style="order: 0;">
                            {{ end }}
                        {{ else }}
                            <div class="column is-12">
                        {{ end }}
                                {{ if (eq $.Page.Lang "en") }}
                                    {{ .en_content | markdownify }}
                                {{ else }}
                                    {{ .ja_content | markdownify }}
                                {{ end }}
                            </div>

                        {{ if ($.Page.Resources.GetMatch (index $item.fig_name 0 )) }}
                            <div class="column is-4">
                                {{ range $fig := $item.fig_name }}
                                {{ with $.Page.Resources.GetMatch $fig }}
                                <img src="{{ .RelPermalink }}" width="100%" alt="" style="border-radius: 10pt;"/>
                                {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    </div>
                    {{end}}
                </div>
            </div>

            <hr/>

            <div style="padding-bottom:2em;">
                <div class="columns is-centered is-multiline">
                    {{ range $page_num, $item := .Pages.ByDate.Reverse }}
                    <div class="column is-6">
                        <div class="card">
                            <header class="card-header" style="height:4rem">
                                <p class="card-header-title is-size-5 is-centered" style="text-align: center; padding-top:1.5rem;">
                                    {{ .Title }}
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="card-image">
                                        {{ $img_list := .Resources.ByType "image" }}
                                        {{ $scr := newScratch }}
                                        {{ $scr.Set "flag" "no-img" }}
                                        {{ range $img_list }}
                                        {{ if findRE `.*\.png` . }}
                                            {{ $scr.Set "flag" "img-exists" }}
                                            {{ $image := .Fill "1618x1000 q90"}}
                                            <button class="button js-modal-trigger is-fullwidth" data-target="modal{{$page_num}}" style="height:auto; border:0; padding:0;">
                                                <img src="{{ $image.RelPermalink }}" alt="">
                                            </button>
                                            {{ break }}
                                        {{ end }}
                                        {{ end }}
                                        {{ $bool := $scr.Get "flag" }}
                                    {{ if eq $bool "no-img" }}
                                    <div class="block" style="aspect-ratio:1.618/1; width:100%;">
                                        <p class="is-size-5 has-text-centered has-text-grey-light" style="padding-top:25%;">
                                            No Image.
                                        </p>
                                  </div>
                                    {{ end }}
                                </div>
                            </div>
                            <footer class="">
                                <div class="columns is-centered is-mobile">
                                    <div class="column is-half is-offset-one-quater">
                                        <button class="button js-modal-trigger is-fullwidth" data-target="modal{{$page_num}}">More Details</button>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>


                    <div class="modal" id="modal{{$page_num}}">
                        <div class="modal-background">
                        </div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title is-size-5 has-text-weight-light">
                                    {{ .Title }}
                                </p>
                            </header>
                            <section class="modal-card-body has-text-weight-medium">
                                <p class="" style="padding:0 1rem;">
                                    {{ .Content }}
                                </p>
                                <div class="columns is-centered is-multiline is-mobile">
                                <div class="column is-11">
                                <div class="columns is-centered is-multiline">
                                    {{ range .Resources.ByType "image" }}
                                    <div class="column is-half">
                                        <img src="{{ .RelPermalink }}"  alt="" style="max-height:300px; overflow:hidden; height:100%; width:auto; display:block; padding:.75rem; border-radius: 1rem; margin:0 auto; "/>
                                    </div>
                                    {{ end }}
                                </div>
                                </div>
                                </div>
                            </section>
                            <footer class="modal-card-foot">
                            </footer>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            


        </div>
    </div>



    <script>
        function openModal($el) {
          $el.classList.add('is-active');
        }
        function closeModal($el) {
          $el.classList.remove('is-active');
        }
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
          const modal = $trigger.dataset.target;
          const $target = document.getElementById(modal);
          $trigger.addEventListener('click', () => {
            openModal($target);
          });
        });
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
          const $target = $close.closest('.modal');
          $close.addEventListener('click', () => {
            closeModal($target);
          });
        });
        document.querySelector("a").addEventListener("click",(event) => {
            const modal = $trigger.dataset.target;
          const $target = document.getElementById(modal);
            openModal($target);
        });
      </script>
</section>
{{ end }}