{{ define "main" }}
{{- partial "nav.html" . -}}
<section class="section" id="main">
    <div class="container">
        <div class="homepage-content content">
            <h1>{{ .Title }}</h1>
            <div class="columns is-centered" >
                <div class="column is-12">
                    <p>
                        {{ with index $.Site.Data.research_ex "main" }}
                            {{ if (eq $.Page.Lang "en") }}
                                {{ .en_content | markdownify }}
                            {{ else }}
                                {{ .ja_content | markdownify }}
                            {{ end }}
                            <hr/>
                        {{ end }}
                    </p>
                </div>
            </div>
            <div style="padding-bottom:2em;">
                {{/* range $content_num, $item := $.Site.Data.research_ex.list */}}
                {{ range $content_num, $item := sort $.Site.Data.research_ex.list "weight" }}
                <h2>
                    {{ if (eq $.Page.Lang "en") }}
                        {{ .en_title }}
                    {{ else }}
                        {{ .ja_title }}
                    {{ end }}
                </h2>
                <div class="columns is-centered">
                    {{ if ($.Page.Resources.GetMatch (index .fig_name 0 )) }}
                        {{ if (modBool $content_num 2) }}
                        <div class="column is-4" style="order: 0;">
                        {{ else }}
                        <div class="column is-4" style="order: 1;">
                        {{ end }}
                        {{ range $fig := .fig_name }}
                            {{ with $.Page.Resources.GetMatch $fig }}
                                <img src="{{ .RelPermalink }}" width="100%" alt="" style="border-radius: 10pt;"/>
                            {{ end }}
                        {{ end }}
                        </div>
                        <div class="column is-8">
                    {{ else }}
                        <div class="column is-12">
                    {{ end }}
                            {{ if (eq $.Page.Lang "en") }}
                                {{ .en_content | markdownify }}
                            {{ else }}
                                {{ .ja_content | markdownify }}
                            {{ end }}
                        </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}