.content h1 {
  font-size: $size-h1;
}

.content h2 {
  font-size: $size-h2;
}

.content h3 {
  font-size: $size-h3;
}

.content h4 {
  font-size: $size-h4;
}

.content h5 {
  font-size: $size-h5;
}

.content h6 {
  font-size: $size-h6;
}

.navbar-item,
.navbar-link {
  font-weight: $navbar-item-weight;
}

.navbar-brand .navbar-item,
.navbar-link {
  font-weight: $navbar-brand-weight;
}

.content .card-image figure {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url(/img/background_14.png) bottom center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  content: "";
}

.hero-body {
  padding-top: 6rem;
}

@media screen and (min-width: 769px),
print {
  .hero.is-medium .hero-body {
    padding-top: 12rem;
  }
}

.card-image {
  padding: 2px;
}

.content h1 {
  margin: 1em 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $content-heading-family;
}

.tag:not(body).is-primary {
  background: transparent;
  color: $primary;
  border: solid $primary 1px;
  font-weight: 400;
}

a:hover {
  .tag:not(body).is-primary {
    background: rgba($primary, 0.2);
  }
}

.tag:not(body).is-dark {
  background: rgba($black, 0.3);
  border: solid 1px $white;
}

.tag:not(body)+.tag:not(body) {
  border-left: 0px;
}



.position {
  font-weight: 700;
  color: $text-color-dark;
}

.namemain {
  font-weight: 400;
}

.namesub {
  font-weight: 700;
  color: $namesub-color;
}

.subtitle {
  font-weight: $subtitle-weight;
}

.hero h1 {
  display: inline-block;
  border-bottom: 1px solid $primary;
}

.lang-en {
  .hero .title {
    font-size: $title-size*0.7;
  }

  .hero .subtitle {
    font-size: $subtitle-size*0.7;
  }
}

@media screen and (max-width : 768px) {
  .hero .title {
    font-size: $title-size*0.5;
  }

  .hero .subtitle {
    font-size: $subtitle-size*0.6;
  }

  .lang-en {
    .hero .title {
      font-size: $title-size*0.6*0.7;
    }

    .hero .subtitle {
      font-size: $subtitle-size*0.6*0.7;
    }
  }
}

.content p {
  text-align: justify;
}

.navbar-item {
  box-sizing: border-box;
}

.navbar-start .navbar-item.is-active {
  border-bottom: solid 3px $primary-dark;
}

.navbar-end .navbar-item.is-active {
  border-bottom: solid 3px $secondary-dark;
}

.navbar-end {

  a.navbar-item,
  .navbar-link {
    cursor: pointer;

    &:hover,
    &.is-active {
      background-color: $navbar-item-hover-background-color;
      color: $secondary;
    }
  }
}

section.section {
  padding: 3rem 0;
  margin: 0rem 1rem;
}

footer.footer {
  margin-top: 3em;
  padding-top: 1.2em;
  padding-bottom: 3em;
  font-size: 0.8em;
  font-weight: 300;

  .domain {
    line-height: 1.2;

    a {
      color: $text-color;
    }
  }

  h4 {
    font-size: 1.2em;
    font-weight: 400;
  }

  a {
    color: $text-color;
  }

  .octicon {
    vertical-align: -0.3em;
  }

  .pagelist {
    display: flex;

    li {
      display: block;
      margin-right: 1em;
    }
  }

  #admin {
    display: flex;

    li {
      display: block;
      margin-right: 1em;
    }
  }
}

.content {

  h3,
  h4 {
    font-weight: 400;
  }

  h5,
  h6 {
    font-weight: 200;
  }
}

body.lang-en {
  font-family: $family-sans-serif-en;
}

#publications.no-year {
  h3 {
    font-size: $size-h2;
  }
}


.filter {
  h4 {
    color: $primary;
    font-weight: 700;
    font-size: 1.1em;
  }

  .filter-box {
    display: flex;
    font-size: 90%;
    font-weight: 400;

    +.filter-box {
      margin-top: 0.5em;
    }

    .filter-head {
      white-space: nowrap;
      margin-right: 1em;
      padding-top: 0.2em;
      font-weight: 700;
      color: $primary;
      min-width: 5em;
    }

    ul.filter-list {
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &#filter-year li.filter-option {
        min-width: 3em;
      }

      li.filter-option {
        a.filter-year {
          width: 6em;
        }

        display: block;
        box-sizing: border-box;
        margin: 0.2em 0.5em;

        a {
          padding: 0.05em 0.3em;
        }

        &.is-selected a {
          border: 1px solid rgba($primary, 0.8);
          background: rgba($primary, 0.8);
          font-weight: 700;
          color: $black;
        }

        &.is-selected-sub a {
          border: 1px solid $primary;
        }
      }
    }
  }
}

#publications ol {
  padding-left: 0;
  margin-left: 0;
  counter-reset: list;

  .item {
    margin-left: 2.5em;
    position: relative;
  }

  >li.head-type,
  >li.head-year {
    list-style: none;
    margin-left: -2.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  li.year-2018+li.year-2018 {
    h2 {
      display: none;
    }
  }

  >li.publication {
    list-style: none;
  }

  .counter {
    position: absolute;
    left: -2.5em;
    width: 2em;
    text-align: right;
    top: 0px;
  }
}

.publication {
  padding-bottom: 1em;

  .pubtitle {
    font-weight: 400;
  }
  .award-author, .award-title{
    font-weight: 400;
  }
  .award-author:after{
    .lang-en &{
      content: ':';
    }
    .lang-ja &{
      content: 'ï¼š';
    }
    margin-right: 0.2em;
  }
  .author {
    font-size: 90%;
  }

  .sep,
  .sepboth {
    font-size: 90%;
  }

  .sep {
    margin-right: 0.5em;
  }

  .sepboth {
    margin-right: 0.3em;
    margin-left: 0.3em;
  }

  .citeinfo {
    font-size: 90%;
  }

  .note {
    color: $text-color;
    margin-left: 0.5em;
    font-size: 80%;
    font-weight: 400;
    border: 1px solid $text-color;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  .limitter {
    max-width: 60vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tags .tag {
    margin-bottom: 0.1rem;
  }
}

.box {
  border: dotted 2px $primary;
  padding: 0.7rem 1.2rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  display: inline-flex;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  height: 1.4em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

.google-map {
  border: 0;
  max-width: 100%;
}

 .nGY2 .title{
  font-size:1em;
  margin-bottom: 0;
}