@media print {

    @page {
        size: A4;
        margin: 0;
    }

    body {
        width: 210mm;
        background: white;
        color: black;
    }

    .content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: black;
        }
    }
}